body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

input[type="number"] {
  width: 30px;
}

table {
  border-collapse: collapse;
}

tr {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;

}

th, td {
  border: 1px solid #aaa;
}

button {
    color: white;
    border-radius: 8px;
    background: #0078e7;
    border: 1px #0078e7;
}
