body {
  margin: 0;
  padding: 0;

}

body {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
}
.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

input[type="number"] {
  width: 30px;
}

table {
  border-collapse: collapse;
}

th {
    font-variant: small-caps;
}

.nice {
      font-variant: small-caps;
      text-transform: capitalize;
}
tr {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #eee;

}

th, td {
  border: 1px solid #aaa;


}

button {
    color: white;
    border-radius: 8px;
    background: #0078e7;
    border: 1px #0078e7;
    margin: 5px;
    padding: 5px;
}

.inactive {
  display: none;
}
